/* This file is for your main application css. */
* {
  font-family: 'Roboto', sans-serif;
}
body, html{
  margin: 0;
  padding: 0;
}
main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
#wrapper {
  height: 100vh;
  width: 80vw;
  max-width: 1024px;
}
#usergrid {
  margin: 0;
  list-style: none;
  display: grid;
  padding: 0;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 46vh 8vh 46vh;
}
#bar {
  background-color: #454545;
  color: white;
  grid-column: 1 / span 4;
  grid-row: 2 / span 1;
  display: flex;
  align-items: center;
  padding: 0 3em;
  justify-content: space-between;
}
h1,h3 {
  margin: 0;
  font-size: 36px;
  font-style: italic;
}
h3 {
  font-weight: lighter;
}
.user {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: inset 0 0 10px #333;
}
.input-wrapper {
  width: 80%;
  margin: 2em auto;
  padding: 0 .5em;
  box-sizing: border-box;
  height: 32px;
  background-color: white;
  box-shadow: 2px 2px 10px #333;
  position: relative;
}
input {
  border: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
input:focus {
  outline: none;
}
.helper {
  width: 213px;
  /*height: 200px;*/
  display: grid;
  grid-template-rows: 20px auto 20px auto;
  box-shadow: 2px 2px 10px #333;
  background-color: white;
  position: absolute;
  bottom: 40px;
  left: 10px;
  font-size: 12px;
}
.helper > div {
  overflow: hidden;
}

.helper .title {
  background-color: #C4C4C4;
  display: flex;
  align-items: center;
  padding: 0 .25em;
}
.helper p {
  margin: 0;
}
.helper img {
  max-height: 25px;
}
.searchemoji {
  display:  flex;
  align-items:  center;
  margin: 2px 3px 0 0;
  border-radius: 10px;
  padding: 1px 4px;
}
.searchemoji.hightlight {
  background: #C4C4C4;
}
.results {
  display: flex;
  max-height:100px;
  flex-wrap: wrap;
}
.messagePreview {
  padding: 1px 4px;
}
.messagePreview img {
  margin-right: 3px;
}
.feed {
  height: 100%;
  padding: 0;
  list-style: none;
  padding: 0 2em;
  overflow-y: scroll;
  /*box-sizing: border-box;*/
}
.feed > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.feed li {
  position: relative;
  display: flex;
  min-height: 53px;
  box-sizing: border-box;
  /*padding: 0 10px;*/
}
.feed img {
  max-height: 45px;
}
.feed .userDot {
  height: 8px;
  width: 8px;
  background-color: black;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: -10px;
}

.feed li.owned {
  justify-content: flex-end;
}
.feed .owned .userDot {
  border: 1px solid black;
  left: auto;
  right: -10px;
}
::-webkit-scrollbar{
  width: 5px;
  /*margin-right: 10px;*/
}

::-webkit-scrollbar-track-piece{
  /*background-color: #FFF;*/
  background-color: none;
}

::-webkit-scrollbar-thumb{
  background-color: #CBCBCB;
  outline: 2px solid #FFF;
  outline-offset: -2px;
  border: .1px solid #B7B7B7;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #909090;
}
